.trello__list{
    background-color: #d6d5d5;
    border-radius: 3px;
    align-self: start;
}
.trello__list__item{
    background: white;
    display: grid;
    border-radius: 5px;
    margin: 7px;
    padding: 2px;
    max-width: 300px;
}

.trello__list__title{
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background-color: grey;
}
.trello_folder_title{
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
}
.highlighted{
    width: 30px;
    color: white;
    border-radius: 4px;
    padding: 2px;
    font-size: small;
    margin-top: 2px;
}

.board_container{
    display: flex;
    font-size:large;
    justify-content: center;
    flex-wrap: nowrap;
}
.trello{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: #262d3b;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    height:100vh;
}